/* For Desktop */
@media only screen and (min-width: 720px){
	
	.aboutMe{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		background-color: #A4BE5C;
		/* background-color: antiquewhite; */
	}
	
	.exp{
		margin: 2px;
		padding: 4px;
		box-shadow: #4F709C 0px 10px 5px -2px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
	}
	
	.edu{
		margin: 2px;
		padding: 4px;
		box-shadow: #4F709C 0px 10px 5px -2px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
	}
}

@media only screen and (max-width: 680px){
	.aboutMe{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		background-color: #A4BE5C;
	}
	
	.exp{
		display: grid;
		place-items: center;
		/* box-shadow: peru 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
		box-shadow: #4F709C 0px 3px 3px 0px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
	}
	
	.edu{
		display: grid;
		place-items: center;
		/* color: #025464; */
		box-shadow: #4F709C 0px 3px 3px 0px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
		/* box-shadow: peru 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
	}
}