.aboutMe{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: antiquewhite;
}

.exp{
	margin: 2px;
	padding: 4px;
	/* background-color: aqua; */
	box-shadow: peru 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.edu{
	margin: 2px;
	padding: 4px;
	/* background-color: aqua; */
	box-shadow: peru 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media only screen and (max-width: 500px){
	.aboutMe{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		background-color: antiquewhite;
	}
	
	.exp{
		display: grid;
		place-items: center;
		box-shadow: peru 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}
	
	.edu{
		display: grid;
		place-items: center;
		box-shadow: peru 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}
}