/* For Desktop */
@media only screen and (min-width: 680px) {
	/* Main Component */

	html {
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
	}

	.Home {
		background-color: #f9f8fd;
		padding-bottom: 3rem;
		scroll-behavior: smooth;
	}

	.Hero {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		background: #fff;
		overflow: hidden;
		/* scroll-snap-align: center; */
	}

	section {
		scroll-snap-align: start;
		scroll-snap-stop: always;
		/* display: flex;
		align-items: center;
		justify-content: center; */
	}

	/* section:nth-of-type(even) {
		color: white;
		background: black;
	}

	section:nth-of-type(odd) {
		color: black;
		background: white;
	} */

	.Glowing {
		position: relative;
		width: 50%;
		height: 550px;
		margin: -120px;
		transform-origin: right;
		animation: colorChange 5s linear infinite;
	}

	.Glowing:nth-child(even) {
		transform-origin: left;
	}

	@keyframes colorChange {
		0% {
			filter: hue-rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			filter: hue-rotate(360deg);
			transform: rotate(360deg);
		}
	}

	.Glowing span {
		position: absolute;
		top: calc(100px * var(--i));
		left: calc(80px * var(--i));
		bottom: calc(1px * var(--i));
		right: calc(-100px * var(--i));
	}

	.Glowing span::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -8px;
		width: 15px;
		height: 15px;
		background: #f00;
		border-radius: 50%;
	}

	.Glowing span:nth-child(3n + 1)::before {
		background: rgba(134, 255, 0, 1);
		box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
			0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
			0 0 0 8px rgba(134, 255, 0, 0.1);
	}

	.Glowing span:nth-child(3n + 2)::before {
		background: rgba(255, 214, 0, 1);
		box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
			0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
			0 0 0 8px rgba(255, 214, 0, 0.1);
	}

	.Glowing span:nth-child(3n + 3)::before {
		background: rgba(0, 226, 255, 1);
		box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
			0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
			0 0 0 8px rgba(0, 226, 255, 0.1);
	}

	.Glowing span:nth-child(3n + 4)::before {
		background: rgba(255, 0, 0, 1);
		box-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 0 40px rgba(255, 0, 0, 1),
			0 0 60px rgba(255, 0, 0, 1), 0 0 80px rgba(255, 0, 0, 1),
			0 0 0 8px rgba(255, 0, 0, 0.1);
	}

	.Glowing span:nth-child(3n + 1) {
		animation: animate 12s alternate infinite;
	}

	.Glowing span:nth-child(3n + 2) {
		animation: animate-reverse 4s alternate-reverse infinite;
	}

	.Glowing span:nth-child(3n + 3) {
		animation: animate 10s alternate infinite;
	}

	.Glowing span:nth-child(3n + 4) {
		animation: animate 8s alternate-reverse infinite;
	}

	@keyframes animate {
		0% {
			transform: rotate(180deg);
		}
		/* 25% {
			transform: rotate(90deg);
		} */
		50% {
			transform: rotate(0deg);
		}
		/* 75% {
			transform: rotate(90deg);
		} */
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes animate-reverse {
		0% {
			transform: rotate(360deg);
		}

		/* 25% {
			transform: rotate(90deg);
		} */

		50% {
			transform: rotate(180deg);
		}

		/* 75% {
			transform: rotate(90deg);
		} */

		100% {
			transform: rotate(0deg);
		}
	}

	/* Info Component */
	.InfoContainer {
		display: flex;
		flex-direction: row;
		width: 100%;
		/* color: whitesmoke; */
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22pt;
		/* background-color: red; */
	}

	.InfoText {
		/* background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"); */
		/* background-image: url("https://images.unsplash.com/photo-1688413708993-39da5ee59315?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60"); */
		/* background-image: url("../../assets/Portfolio/me.JPG"); */
		/* background-repeat: no-repeat;
		background-position: right;
		background-size: contain; */
		width: 100%;
		height: 100%;
		/* background-color: #e3dffd; */
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22pt;
		padding: 2rem 2rem 1rem 3rem;
	}

	.InfoText h1 {
		font-size: 40pt;
		color: #696969;
	}

	.InfoText h2 {
		font-size: 28pt;
		color: #8f8f8f;
	}

	.InfoImg {
		width: 100%;
		padding: 4rem 0rem;
		/* background-color: #e5d1fa; */
	}

	.InfoImg img {
		display: block;
		margin: auto;
		width: fit-content;
		height: 210px;
	}

	.Checkout svg {
		color: white;
	}

	/* Work Component */

	.Work {
		background-color: #f5f4fc;
		/* place-content: center; */
		/* flex-direction: column;
		justify-content: center;
		align-items: center; */
		/* padding: 50px; */
		font-family: "Roboto", sans-serif;
		scroll-behavior: smooth;
		/* padding: 0px 0px 0px 0px; */
	}

	.Work h1 {
		text-align: center;
		padding: 5rem 0rem;
		font-weight: 600;
		font-size: 30pt;
	}

	.WorkContainer {
		display: grid;
		place-items: center;
		grid-template-rows: repeat(2, fit-content);
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 14px;
		font-family: "Roboto", sans-serif;
		background-color: #f5f4fc;
	}

	.ProjectCardContainer {
		/* display: flex;
		width: 90%;
		height: fit-content;
		flex-direction: column; */
		background-color: #eefffe;
		/* box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
		margin: 2.5rem; */
		/* width: 24rem; */
		width: 70%;
		height: 36rem;
		/* height: 36rem; */
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		color: rgb(240, 240, 240);
		box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
		margin: 0rem 0rem 3rem 0rem;
		scroll-snap-align: start none;
		scroll-margin-block: 10px;
	}

	.ProjectCardContainer img {
		/* background-color: red; */
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.9;
		transition: opacity 0.2s ease-out;
	}

	.ProjectCardContainer h2 {
		position: absolute;
		inset: auto auto 30px 30px;
		margin: 0;
		/* text-align: cen	ter; */
		padding: 0px 10px;
		transition: inset 0.3s 0.3s ease-out;
		font-family: "Roboto Condensed", sans-serif;
		color: #122fa3;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 22pt;
	}

	.ProjectCardContainer p,
	.ProjectCardContainer a {
		position: absolute;
		opacity: 0;
		max-width: 80%;
		color: black;
		transition: opacity 0.3s ease-out;
	}

	.ProjectCardContainer p {
		inset: auto auto 60px 30px;
	}

	.ProjectCardContainer a {
		inset: auto auto 40px 30px;
		color: black;
		text-decoration: none;
	}

	.ProjectCardContainer:hover h2 {
		inset: auto auto 110px 30px;
		transition: inset 0.3s ease-out;
	}

	.ProjectCardContainer:hover p,
	.ProjectCardContainer:hover a {
		opacity: 1;
		transition: opacity 0.5s 0.1s ease-in;
	}

	.ProjectCardContainer:hover img {
		transition: opacity 0.3s ease-in;
		opacity: 0.6;
	}

	/* .ContainerText {
		display: flex;
	flex-direction: column;
		background-color: #effffe;
		height: fit-content;
		padding-left: 2rem;
	}
	.ContainerText h2 {
		color: #334454;
		text-align: center;
		font-size: 1.8rem;
		margin-top: 1rem;
	}
	.ContainerText p {
		color: grey;
		font-size: 1.1rem;
	}
	.ContainerText a {
		text-decoration: none;
		color: midnightblue;
		font-size: 1rem;
	} */

	/* Skill Component */

	.Skill {
		min-height: 100vh;
		/* min-height: 100vh; */
		background: #333;
		display: flex;
		flex-direction: column;
		color: #000;
		justify-content: center;
		align-items: center;
		font-family: sans-serif;
		scroll-behavior: smooth;
		background-color: #4831d4;
	}

	.SkillHead {
		padding: 5rem 0rem 2rem 0rem;
		/* background-color: red; */
		text-align: center;
		text-transform: uppercase;
		color: #ccf381;
	}

	.SkillContainer {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		/* background-color: red; */
	}

	.SkillCard {
		position: relative;
		border-radius: 10px;
		width: 100%;
		height: fit-content;
		margin-left: 2rem;
		/* background-color: violet; */
	}

	.SkillContainer .SkillCard .SkillIcon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/* background-color: red; */
		transition: 0.7s;
		z-index: 1;
	}

	.SkillContainer .SkillCard:nth-child(1) .SkillIcon {
		background: #014069;
	}

	.SkillContainer .SkillCard:nth-child(2) .SkillIcon {
		background: #692a01;
	}

	.SkillContainer .SkillCard:nth-child(3) .SkillIcon {
		background: #151e43;
	}

	.SkillContainer .SkillCard .SkillIcon .fa {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.SkillIcon img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 160px;
		height: 130px;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.SkillContainer .SkillCard .Face {
		width: 90%;
		height: 9rem;
		transition: 0.5s;
		/* background: red; */
	}

	.SkillContainer .SkillCard .Face.Face1 {
		position: relative;
		background: #333;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		transform: translateY(100px);
	}

	.SkillContainer .SkillCard:hover .Face.Face1 {
		transform: translateY(0px);
	}

	.SkillContainer .SkillCard .Face.Face1 .SkillContent {
		opacity: 1;
		transition: 0.5s;
	}

	.SkillContainer .SkillCard:hover .Face.Face1 .SkillContent {
		opacity: 1;
	}

	.SkillContainer .SkillCard:hover .Face.Face1 .SkillContent img {
		width: 180px;
		height: 130px;
	}

	.SkillContainer .SkillCard .Face.Face2 .Frontend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b1e0ff;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Frontend {
		transform: translateY(0);
		background-color: #b1e0ff;
	}

	.SkillContainer .SkillCard .Face.Face2 .Backend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #ffe1ce;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Backend {
		transform: translateY(0);
		background-color: #ffe1ce;
	}

	.SkillContainer .SkillCard .Face.Face2 .Language {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b7c6ff;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Language {
		transform: translateY(0);
		background-color: #b7c6ff;
	}

	.SkillContainer .SkillCard .Face.Face2 .SkillContent p {
		margin: 0;
		padding: 0;
		text-align: center;
		color: #414141;
		font-size: 10pt;
	}

	.SkillContainer .SkillCard .Face.Face2 .SkillContent h3 {
		margin: 0 0 10px 0;
		padding: 0;
		color: #fff;
		font-size: 24px;
		text-align: center;
		color: #414141;
	}

	.SkillContainer a {
		text-decoration: none;
		color: #414141;
	}

	.SkillContent a {
		padding: 2px 4px;
	}

	/* Feedback Component */
	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

	.MailMeHeader {
		display: flex;
		width: 100%;
		height: 90vh;
		padding-top: 2rem;
		/* margin-top: 2rem; */
		flex-direction: column;
		align-items: center;
		justify-content: center;
		line-height: 1rem;
		color: #4831d4;
		/* background-color: #4831d4; */
	}

	.MailMeHeader p {
		text-align: justify;
		font-size: 14pt;
		margin: 1rem 1rem;
		color: #4831d4;
	}

	.MailMe-InnerContent {
		display: flex;
		/* background-color: #334454; */
		width: 75%;
	}

	.MailMe-InnerContent form {
		width: 100%;
		margin: 1rem auto;
	}

	.Form-Row {
		display: flex;
		justify-content: space-around;
		margin-bottom: 1rem;
	}

	.Form-Row p {
		font-size: 12pt;
		color: red;
		text-align: left;
	}

	.Form-Row:first-of-type .FormInput {
		width: 50%;
	}

	.Abhay:not(:last-child) {
		margin-right: 50px;
	}

	.Form-Row textarea {
		line-height: 1.2;
		resize: vertical;
	}

	.FormInput {
		display: flex;
		align-items: center;
		margin-top: 10px;
		justify-content: center;
		width: 100%;
		padding: 10px 0;
		background: none;
		border: none;
		border-bottom: 1px solid #666;
		color: #122fa3;
		font-size: 14pt;
		outline: none;
		transition: border-color 0.2s;
		background-color: #f9f8fd;
	}

	.FormInput:focus {
		border-bottom: 1px solid #122fa3;
	}

	/* Send Component */
	@import url("https://fonts.googleapis.com/css?family=Mukta:700");
	.BtnBody {
		font-family: "Mukta", sans-serif;
		font-size: 1rem;
		line-height: 1.5;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3rem;
		/* min-height: 100vh; */
		background: #f9f8fd;
	}

	button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
	}

	button.Learn-More {
		width: 12rem;
		height: auto;
	}

	button.Learn-More .Circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 3rem;
		height: 3rem;
		background: #4831d4;
		border-radius: 1.625rem;
	}

	button.Learn-More .Circle .Icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
	}

	button.Learn-More .Circle .Icon.Arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;
	}

	button.Learn-More .Circle .Icon.Arrow::before {
		position: absolute;
		content: "";
		top: -0.25rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid #fff;
		border-right: 0.125rem solid #fff;
		transform: rotate(45deg);
	}

	button.Learn-More .Button-Text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 1.85rem;
		color: #282936;
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
	}

	button:hover .Circle {
		width: 100%;
	}

	button:hover .Circle .Icon.Arrow {
		background: #fff;
		transform: translate(1rem, 0);
	}

	button:hover .Button-Text {
		color: #fff;
	}

	/* @supports (display: grid) {
		.BtnBody {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 0.625rem;
			grid-template-areas: ". main main ." ". main main .";
		}

		#BtnContainer {
			grid-area: main;
			align-self: center;
			justify-self: center;
		}
	} */
}

@media only screen and (max-width: 680px) {
	/* Main Component */
	.Home {
		background-color: #f9f8fd;
		padding-bottom: 3rem;
		scroll-behavior: smooth;
	}

	.Hero {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		overflow: hidden;
		background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
		/* background-color: red; */
	}

	/* Info Component */
	.InfoContainer {
		display: flex;
		flex-direction: row;
		width: 100%;
		/* color: whitesmoke; */
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22pt;
		/* background-color: red; */
	}

	.InfoText {
		/* background-image: url("https://images.unsplash.com/photo-1688413708993-39da5ee59315?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60"); */
		/* background-image: url("../../assets/Portfolio/me.JPG"); */
		/* background-repeat: no-repeat;
		background-position: right;
		background-size: contain; */
		width: 100%;
		height: 100%;
		/* background-color: #e3dffd; */
		color: rgba(255, 255, 255, 0.653);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22pt;
		padding: 0rem 2rem 1rem 2rem;
	}

	.InfoText h1 {
		font-size: 42pt;
		color: #ffffff;
		padding: 0.8rem 0rem;
	}

	.InfoText h2 {
		font-size: 30pt;
		color: #ffffff;
		padding: 0.8rem 0rem;
	}

	.InfoImg {
		width: 100%;
		padding: 4rem 0rem;
		/* background-color: #e5d1fa; */
	}

	.InfoImg img {
		display: block;
		margin: auto;
		width: fit-content;
		height: 210px;
	}

	.Checkout svg {
		color: white;
	}

	/* Work Component */

	.Work {
		background-color: #f5f4fc;
		/* place-content: center; */
		/* flex-direction: column;
		justify-content: center;
		align-items: center; */
		/* padding: 50px; */
		font-family: "Roboto", sans-serif;
		scroll-behavior: smooth;
		/* padding: 0px 0px 0px 0px; */
	}

	.Work h1 {
		text-align: center;
		padding: 5rem 0rem;
		font-weight: 600;
		font-size: 30pt;
	}

	.WorkContainer {
		display: grid;
		place-items: center;
		/* grid-template-rows: repeat(1, fit-content);
		grid-template-columns: repeat(1, 1fr); */
		grid-gap: 14px;
		font-family: "Roboto", sans-serif;
		background-color: #f5f4fc;
	}

	.ProjectCardContainer {
		/* display: flex;
		width: 90%;
		height: fit-content;
		flex-direction: column; */
		background-color: #eefffe;
		/* box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
		margin: 2.5rem; */
		/* width: 24rem; */
		width: 95%;
		height: 36rem;
		/* height: 36rem; */
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		color: rgb(240, 240, 240);
		box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
		margin: 0rem 0rem 3rem 0rem;
		scroll-snap-align: start none;
		scroll-margin-block: 10px;
	}

	.ProjectCardContainer img {
		/* background-color: red; */
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.9;
		transition: opacity 0.2s ease-out;
	}

	.ProjectCardContainer h2 {
		position: absolute;
		inset: auto auto 30px 30px;
		margin: 0;
		padding: 0px 12px;
		transition: inset 0.3s 0.3s ease-out;
		font-family: "Roboto Condensed", sans-serif;
		color: #122fa3;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 22pt;
	}

	.ProjectCardContainer p,
	.ProjectCardContainer a {
		position: absolute;
		opacity: 0;
		max-width: 80%;
		color: black;
		transition: opacity 0.3s ease-out;
	}

	.ProjectCardContainer p {
		inset: auto auto 60px 30px;
	}

	.ProjectCardContainer a {
		inset: auto auto 40px 30px;
		color: black;
		text-decoration: none;
	}

	.ProjectCardContainer:hover h2 {
		inset: auto auto 110px 30px;
		transition: inset 0.3s ease-out;
	}

	.ProjectCardContainer:hover p,
	.ProjectCardContainer:hover a {
		opacity: 1;
		transition: opacity 0.5s 0.1s ease-in;
	}

	.ProjectCardContainer:hover img {
		transition: opacity 0.3s ease-in;
		opacity: 0.6;
	}

	/* Skill Component */
	.Skill {
		min-height: 100vh;
		background: #333;
		display: flex;
		width: 100%;
		flex-direction: column;
		color: #000;
		justify-content: center;
		align-items: center;
		font-family: sans-serif;
		scroll-behavior: smooth;
		background-color: #4831d4;
	}

	.SkillHead {
		padding: 5rem 0rem 2rem 0rem;
		text-align: center;
		color: #ccf381;
	}

	.SkillContainer {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.SkillCard {
		position: relative;
		width: 90%;
		height: fit-content;
	}

	.SkillContainer .SkillCard .SkillIcon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: 0.7s;
		z-index: 1;
	}

	.SkillContainer .SkillCard:nth-child(1) .SkillIcon {
		background: #014069;
	}

	.SkillContainer .SkillCard:nth-child(2) .SkillIcon {
		background: #692a01;
	}

	.SkillContainer .SkillCard:nth-child(3) .SkillIcon {
		background: #151e43;
	}

	.SkillContainer .SkillCard .SkillIcon .fa {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.SkillIcon img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 47%;
		height: 130px;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.SkillContainer .SkillCard .Face {
		width: 100%;
		height: 9rem;
		transition: 0.5s;
	}

	.SkillContainer .SkillCard .Face.Face1 {
		position: relative;
		background: #333;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		transform: translateY(100px);
	}

	.SkillContainer .SkillCard:hover .Face.Face1 {
		transform: translateY(0px);
	}

	.SkillContainer .SkillCard .Face.Face1 .SkillContent {
		opacity: 1;
		transition: 0.5s;
	}

	.SkillContainer .SkillCard:hover .Face.Face1 .SkillContent {
		opacity: 1;
	}

	.SkillContainer .SkillCard:hover .Face.Face1 .SkillContent img {
		width: 180px;
		height: 130px;
	}

	.SkillContainer .SkillCard .Face.Face2 .Frontend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b1e0ff;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Frontend {
		transform: translateY(0);
		background-color: #b1e0ff;
	}

	.SkillContainer .SkillCard .Face.Face2 .Backend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #ffe1ce;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Backend {
		transform: translateY(0);
		background-color: #ffe1ce;
	}

	.SkillContainer .SkillCard .Face.Face2 .Language {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b7c6ff;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Language {
		transform: translateY(0);
		background-color: #b7c6ff;
	}

	.SkillContainer .SkillCard .Face.Face2 .SkillContent p {
		margin: 0;
		padding: 0;
		text-align: center;
		color: #414141;
		font-size: 10pt;
	}

	.SkillContainer .SkillCard .Face.Face2 .SkillContent h3 {
		margin: 0 0 10px 0;
		padding: 0;
		color: #fff;
		font-size: 24px;
		text-align: center;
		color: #414141;
	}

	.SkillContainer a {
		text-decoration: none;
		color: #414141;
	}

	.SkillContent a {
		padding: 2px 4px;
	}

	/* Feedback Component */
	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

	.MailMeHeader {
		display: flex;
		width: 100%;
		height: 90vh;
		/* padding-top: 2rem; */
		margin-top: 2rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		line-height: 1rem;
		color: #4831d4;
		/* background-color: #4831d4; */
	}

	.MailMeHeader p {
		text-align: justify;
		font-size: 14pt;
		padding: 1rem 2rem;
		color: #4831d4;
		line-height: 1.3rem;
	}

	.MailMe-InnerContent {
		display: flex;
		/* background-color: #494d51; */
		width: 80%;
	}

	.MailMe-InnerContent form {
		width: 100%;
		margin: 1rem auto;
		line-height: 1.2rem;
		/* background-color: #1f7bb8; */
	}

	.MailMe-InnerContent textarea {
		height: 80px;
		resize: vertical;
	}

	/* .Form-Row {
		display: flex;
		justify-content: space-around;
		margin-bottom: 1rem;
	}

	.Form-Row:first-of-type .FormInput {
		width: 50%;
	} */

	/* .Abhay:not(:last-child) {
		margin-right: 50px;
	} */

	.FormInput {
		display: flex;
		align-items: center;
		margin-top: 10px;
		justify-content: center;
		width: 100%;
		padding: 10px 0;
		background: none;
		border: none;
		border-bottom: 1px solid #666;
		color: #122fa3;
		font-size: 14pt;
		outline: none;
		transition: border-color 0.2s;
		background-color: #f9f8fd;
	}

	.FormInput:focus {
		border-bottom: 1px solid #122fa3;
	}

	/* Send Component */
	@import url("https://fonts.googleapis.com/css?family=Mukta:700");
	.BtnBody {
		font-family: "Mukta", sans-serif;
		font-size: 1rem;
		line-height: 1.5;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3rem;
		/* min-height: 100vh; */
		background: #f9f8fd;
	}

	button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
	}

	button.Learn-More {
		width: 12rem;
		height: auto;
	}

	button.Learn-More .Circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 3rem;
		height: 3rem;
		background: #4831d4;
		border-radius: 1.625rem;
	}

	button.Learn-More .Circle .Icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
	}

	button.Learn-More .Circle .Icon.Arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;
	}

	button.Learn-More .Circle .Icon.Arrow::before {
		position: absolute;
		content: "";
		top: -0.25rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid #fff;
		border-right: 0.125rem solid #fff;
		transform: rotate(45deg);
	}

	button.Learn-More .Button-Text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 1.85rem;
		color: #282936;
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
	}

	button:hover .Circle {
		width: 100%;
	}

	button:hover .Circle .Icon.Arrow {
		background: #fff;
		transform: translate(1rem, 0);
	}

	button:hover .Button-Text {
		color: #fff;
	}

	/* @supports (display: grid) {
		.BtnBody {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 0.625rem;
			grid-template-areas: ". main main ." ". main main .";
		}

		#BtnContainer {
			grid-area: main;
			align-self: center;
			justify-self: center;
		}
	} */
}
