/* For Desktop */
@media only screen and (min-width: 720px){
	.home {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: auto;
		/* background-color: #A4BE5C; */
		/* background-color: #4831D4; */
		background-image: url("https://plus.unsplash.com/premium_photo-1665426465755-953214e31c2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60");
		background-repeat: no-repeat;
	}
	
	.infoContainer {
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
		justify-content: center;
	  }
	
	.home img{
		padding: 6px;
		width: 40%;
		height:50vh;
		border-radius: 50%;
	}
	
	
	.info{
		width: 100%;
		padding: 0px 10px;
		font-size: 20px;
		font-weight: 600;
		font-family:monospace;
		/* color: #CCF381; */
		/* color: #7E1717; */
	}
	
	.checkout{
		display: flex;
		width: 100%;
		font-size: 18px;
		align-items: center;
		/* color: #025464; */
		/* color: #7E1717; */
	}
	
	.checkout a{
		/* color: #025464; */
		color: black;
		display: flex;
		text-decoration: none;
		padding: 5px 5px 5px 5px;
	}
	
	.checkout svg{
		display: flex;
		padding-top: 5px;
	}
	
	.skills{
		width: 100%;
		padding: 0px 10px;
		font-size: 20px;
		font-weight: 600;
		font-family:monospace;
		/* background: rgb(255 255 255 / 25%); */
		/* border-radius: 1000% 1000% 0 0;
		width: 200%; */
		/* height: 12em; */
		/* animation: wave 10s -3s linear infinite;
		transform: translate3d(0, 0, 0);
		opacity: 0.8;
		bottom: 0;
		left: 0; */
		/* color: #025464; */
		/* color: #7E1717; */
	}
	
	/* @keyframes gradient {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 100% 100%;
		}
		100% {
			background-position: 0% 0%;
		}
	}
	
	.skills:nth-of-type(2) {
		bottom: -1.25em;
		animation: wave 18s linear reverse infinite;
		opacity: 0.8;
	}
	
	.skills:nth-of-type(3) {
		bottom: -2.5em;
		animation: wave 20s -1s reverse infinite;
		opacity: 0.9;
	}
	
	@keyframes skills {
		2% {
			transform: translateX(1);
		}
		
		25% {
			transform: translateX(-25%);
		}
		
		50% {
			transform: translateX(-50%);
		}
	
		75% {
			transform: translateX(-25%);
		}
		
		100% {
			transform: translateX(1);
		}
	} */
}

/* For Mobile Device */
/* @media only screen and (max-width: 680px){

	.home {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 80vh;
		margin: auto;
		overflow:hidden;
	}
	
	.infoContainer {
		display: flex;
		width: 100%;
		justify-content: center;
		background-image: url("https://plus.unsplash.com/premium_photo-1665426465755-953214e31c2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60");
		background-repeat: no-repeat;
	}

	.home img{
		margin-right: 10px;
		margin-top: 14px;
		width: 30%;
		height:20vh;
		border-radius: 50%;
	}

	
	.info{
		width: 100%;
		padding: 0px 10px;
		font-size: 16px;
		font-weight: 1000;
		
		font-family:monospace;
	}

	.checkout{
		display: flex;
		width: 100%;
		font-size: 18px;
		align-items: center;
	}

	.checkout a{
		color: black;
		display: flex;
		text-decoration: none;
		padding: 5px 5px 5px 5px;
	}

	.checkout svg{
		display: flex;
		padding-top: 5px;
	}

	.skillContainer{
		display: block;
		width: 100%;
		height: 100%;
	}

	.skills{
		width: 100%;
		padding: 0px 10px;
		font-size: 16px;
		font-weight: 1000;
		font-family:monospace;
	}
} */

@media only screen and (max-width: 680px){
	.home{
		background-color: white;
	}

	.info{
		/* background-color: red; */
		background-image: url("https://images.unsplash.com/photo-1688494930045-328d0f95efe9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1200&q=60");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: white;
		font-size: 22px;
		padding: 30px 8px 2px 8px;
	}
	
	.work{
		display: flex;
		flex-direction: column;
		background-color: #DAFFFB;
		justify-content: center;
		align-items: center;
		padding: 8px 0px 0px 0px;
	}

	.projectCardContainer {
		display: flex;
		flex-direction: column-reverse;
		background: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 80%;
		height: 50vh;
		position: relative;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.55);
		margin-bottom: 14px;
	}
	
	/* .projectCardContainer img {
		width: 350px;
		height: 500px;
		object-position: center;
		object-fit: cover;
		margin-right: 10px;
	} */

	.containerText {
		display: flex;
		flex-direction: column;
		background-color: white;
		align-items: center;
		padding: 12px;
	}
	.containerText h2 {
		color: #334454;
		font-size: 1.2rem;
	}
	.containerText p {
		color: grey;
		font-size: 1rem;
	}

	.skill{
		/* background-color: red; */
		background-color: #DAFFFB;
		padding: 6px 0px 6px 8px;
	}

	.skillInfo{
		background-color: #64CCC5;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 14pt;
		font-weight: 600;
	}

}
