/* For Desktop */
@media only screen and (min-width: 680px) {
	/* Main Component */

	.Home {
		background-color: var(--elegant-bg);
		color: var(--elegant-primary);
		padding-bottom: 3rem;
		scroll-behavior: smooth;
	}

	.InfoImg {
		width: 100%;
		padding: 4rem 0rem;
		/* background-color: #e5d1fa; */
	}

	.InfoImg img {
		display: block;
		margin: auto;
		width: fit-content;
		height: 210px;
	}

	.Checkout svg {
		color: white;
	}
}

@media only screen and (max-width: 680px) {
	/* Main Component */
	.Home {
		background-color: #f9f8fd;
		padding-bottom: 3rem;
		scroll-behavior: smooth;
	}

	.Hero {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		overflow: hidden;
		background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
		/* background-color: red; */
	}

	/* Info Component */
	.InfoContainer {
		display: flex;
		flex-direction: row;
		width: 100%;
		/* color: whitesmoke; */
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22pt;
		/* background-color: red; */
	}

	.InfoText {
		/* background-image: url("https://images.unsplash.com/photo-1688413708993-39da5ee59315?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60"); */
		/* background-image: url("../../assets/Portfolio/me.JPG"); */
		/* background-repeat: no-repeat;
		background-position: right;
		background-size: contain; */
		width: 100%;
		height: 100%;
		/* background-color: #e3dffd; */
		color: rgba(255, 255, 255, 0.653);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22pt;
		padding: 0rem 2rem 1rem 2rem;
	}

	.InfoText h1 {
		font-size: 42pt;
		color: #ffffff;
		padding: 0.8rem 0rem;
	}

	.InfoText h2 {
		font-size: 30pt;
		color: #ffffff;
		padding: 0.8rem 0rem;
	}

	.InfoImg {
		width: 100%;
		padding: 4rem 0rem;
		/* background-color: #e5d1fa; */
	}

	.InfoImg img {
		display: block;
		margin: auto;
		width: fit-content;
		height: 210px;
	}

	.Checkout svg {
		color: white;
	}

	/* Work Component */

	.Work {
		background-color: #f5f4fc;
		/* place-content: center; */
		/* flex-direction: column;
		justify-content: center;
		align-items: center; */
		/* padding: 50px; */
		font-family: "Roboto", sans-serif;
		scroll-behavior: smooth;
		/* padding: 0px 0px 0px 0px; */
	}

	.Work h1 {
		text-align: center;
		padding: 5rem 0rem;
		font-weight: 600;
		font-size: 30pt;
	}

	.WorkContainer {
		display: grid;
		place-items: center;
		/* grid-template-rows: repeat(1, fit-content);
		grid-template-columns: repeat(1, 1fr); */
		grid-gap: 14px;
		font-family: "Roboto", sans-serif;
		background-color: #f5f4fc;
	}

	.ProjectCardContainer {
		/* display: flex;
		width: 90%;
		height: fit-content;
		flex-direction: column; */
		background-color: #eefffe;
		/* box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
		margin: 2.5rem; */
		/* width: 24rem; */
		width: 95%;
		height: 36rem;
		/* height: 36rem; */
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		color: rgb(240, 240, 240);
		box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
		margin: 0rem 0rem 3rem 0rem;
		scroll-snap-align: start none;
		scroll-margin-block: 10px;
	}

	.ProjectCardContainer img {
		/* background-color: red; */
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.9;
		transition: opacity 0.2s ease-out;
	}

	.ProjectCardContainer h2 {
		position: absolute;
		inset: auto auto 30px 30px;
		margin: 0;
		padding: 0px 12px;
		transition: inset 0.3s 0.3s ease-out;
		font-family: "Roboto Condensed", sans-serif;
		color: #122fa3;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 22pt;
	}

	.ProjectCardContainer p,
	.ProjectCardContainer a {
		position: absolute;
		opacity: 0;
		max-width: 80%;
		color: black;
		transition: opacity 0.3s ease-out;
	}

	.ProjectCardContainer p {
		inset: auto auto 60px 30px;
	}

	.ProjectCardContainer a {
		inset: auto auto 40px 30px;
		color: black;
		text-decoration: none;
	}

	.ProjectCardContainer:hover h2 {
		inset: auto auto 110px 30px;
		transition: inset 0.3s ease-out;
	}

	.ProjectCardContainer:hover p,
	.ProjectCardContainer:hover a {
		opacity: 1;
		transition: opacity 0.5s 0.1s ease-in;
	}

	.ProjectCardContainer:hover img {
		transition: opacity 0.3s ease-in;
		opacity: 0.6;
	}

	/* Skill Component */
	.Skill {
		min-height: 100vh;
		background: #333;
		display: flex;
		width: 100%;
		flex-direction: column;
		color: #000;
		justify-content: center;
		align-items: center;
		font-family: sans-serif;
		scroll-behavior: smooth;
		background-color: #4831d4;
	}

	.SkillHead {
		padding: 5rem 0rem 2rem 0rem;
		text-align: center;
		color: #ccf381;
	}

	.SkillContainer {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.SkillCard {
		position: relative;
		width: 90%;
		height: fit-content;
	}

	.SkillContainer .SkillCard .SkillIcon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: 0.7s;
		z-index: 1;
	}

	.SkillContainer .SkillCard:nth-child(1) .SkillIcon {
		background: #014069;
	}

	.SkillContainer .SkillCard:nth-child(2) .SkillIcon {
		background: #692a01;
	}

	.SkillContainer .SkillCard:nth-child(3) .SkillIcon {
		background: #151e43;
	}

	.SkillContainer .SkillCard .SkillIcon .fa {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.SkillIcon img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 47%;
		height: 130px;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.SkillContainer .SkillCard .Face {
		width: 100%;
		height: 9rem;
		transition: 0.5s;
	}

	.SkillContainer .SkillCard .Face.Face1 {
		position: relative;
		background: #333;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		transform: translateY(100px);
	}

	.SkillContainer .SkillCard:hover .Face.Face1 {
		transform: translateY(0px);
	}

	.SkillContainer .SkillCard .Face.Face1 .SkillContent {
		opacity: 1;
		transition: 0.5s;
	}

	.SkillContainer .SkillCard:hover .Face.Face1 .SkillContent {
		opacity: 1;
	}

	.SkillContainer .SkillCard:hover .Face.Face1 .SkillContent img {
		width: 180px;
		height: 130px;
	}

	.SkillContainer .SkillCard .Face.Face2 .Frontend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b1e0ff;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Frontend {
		transform: translateY(0);
		background-color: #b1e0ff;
	}

	.SkillContainer .SkillCard .Face.Face2 .Backend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #ffe1ce;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Backend {
		transform: translateY(0);
		background-color: #ffe1ce;
	}

	.SkillContainer .SkillCard .Face.Face2 .Language {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b7c6ff;
	}

	.SkillContainer .SkillCard:hover .Face.Face2 .Language {
		transform: translateY(0);
		background-color: #b7c6ff;
	}

	.SkillContainer .SkillCard .Face.Face2 .SkillContent p {
		margin: 0;
		padding: 0;
		text-align: center;
		color: #414141;
		font-size: 10pt;
	}

	.SkillContainer .SkillCard .Face.Face2 .SkillContent h3 {
		margin: 0 0 10px 0;
		padding: 0;
		color: #fff;
		font-size: 24px;
		text-align: center;
		color: #414141;
	}

	.SkillContainer a {
		text-decoration: none;
		color: #414141;
	}

	.SkillContent a {
		padding: 2px 4px;
	}
}
