/* For Desktop */
@media only screen and (min-width: 720px){
	.home {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: auto;
		/* background-color: #A4BE5C; */
		/* background-color: #4831D4; */
		background-image: url("https://plus.unsplash.com/premium_photo-1665426465755-953214e31c2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60");
		background-repeat: no-repeat;
	}
	
	.infoContainer {
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
		justify-content: center;
	  }
	
	.home img{
		padding: 6px;
		width: 40%;
		height:50vh;
		border-radius: 50%;
	}
	
	
	.info{
		width: 100%;
		padding: 0px 10px;
		font-size: 20px;
		font-weight: 600;
		font-family:monospace;
		/* color: #CCF381; */
		/* color: #7E1717; */
	}
	
	.checkout{
		display: flex;
		width: 100%;
		font-size: 18px;
		align-items: center;
		/* color: #025464; */
		/* color: #7E1717; */
	}
	
	.checkout a{
		/* color: #025464; */
		color: black;
		display: flex;
		text-decoration: none;
		padding: 5px 5px 5px 5px;
	}
	
	.checkout svg{
		display: flex;
		padding-top: 5px;
	}
	
	.skills{
		width: 100%;
		padding: 0px 10px;
		font-size: 20px;
		font-weight: 600;
		font-family:monospace;
		/* background: rgb(255 255 255 / 25%); */
		/* border-radius: 1000% 1000% 0 0;
		width: 200%; */
		/* height: 12em; */
		/* animation: wave 10s -3s linear infinite;
		transform: translate3d(0, 0, 0);
		opacity: 0.8;
		bottom: 0;
		left: 0; */
		/* color: #025464; */
		/* color: #7E1717; */
	}
	
	/* @keyframes gradient {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 100% 100%;
		}
		100% {
			background-position: 0% 0%;
		}
	}
	
	.skills:nth-of-type(2) {
		bottom: -1.25em;
		animation: wave 18s linear reverse infinite;
		opacity: 0.8;
	}
	
	.skills:nth-of-type(3) {
		bottom: -2.5em;
		animation: wave 20s -1s reverse infinite;
		opacity: 0.9;
	}
	
	@keyframes skills {
		2% {
			transform: translateX(1);
		}
		
		25% {
			transform: translateX(-25%);
		}
		
		50% {
			transform: translateX(-50%);
		}
	
		75% {
			transform: translateX(-25%);
		}
		
		100% {
			transform: translateX(1);
		}
	} */
}

@media only screen and (max-width: 680px){
	/* Main Component */
	.home{
		background-color: white;
	}

	/* Info Component */
	.info{
		background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
		/* background-image: url("https://images.unsplash.com/photo-1688413708993-39da5ee59315?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60"); */
		/* background-image: url("https://images.unsplash.com/photo-1688494930045-328d0f95efe9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1200&q=60"); */
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22px;
		padding: 30px 8px 2px 8px;
	}

	.checkout svg{
		color: white;
	}
	
	/* Work Component */
	.work{
		display: flex;
		flex-direction: column;
		background-color:white;
		justify-content: center;
		align-items: center;
		padding: 0px 0px 0px 0px;
	}

	.work h1{
		text-align: left;
		padding-inline: 1rem;
		font-weight: 600;
	}
	
	.projectCardContainer{
		display: flex;
		width: 90%;
		height: fit-content;
		flex-direction: column;
		background-color: #effffe;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
		margin-bottom: 16px;
	}
	
	.projectCardContainer img {
		/* background-color: red; */
		height: fit-content;
		border-radius: 0;
		object-fit: cover;
		object-position: center;
	}

	.containerText {
		/* display: flex;
		flex-direction: column; */
		background-color: #effffe;
		padding-left: 12px;
	}
	.containerText h2 {
		color: #334454;
		text-align: center;
		font-size: 1.6rem;
	}
	.containerText p {
		color: grey;
		font-size: 1.1rem;
	}
	.containerText a {
		text-decoration:none;
		color: midnightblue;
		font-size: 1rem;
	}

	/* Feedback Component */
	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
	
	.mailMe{
		display: flex;
		width: 100%;
		margin-top: 24px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		line-height: 1rem;
		/* background-color: #122fa3; */
	}

	.mailMe p{
		text-align: justify;
		font-size: 14pt;
		margin: 0px 8px 0px 8px;
	}
	
	.mailMe form {
		/* background-color: red; */
		width: 70%; 
		margin: 10px auto;
	}
	
	.formInput {
		display: flex;
		align-items: center;
		margin-top: 10px;
		justify-content: center;
		width: 100%;
		padding: 10px 0;
		background: none;
		border: none;
		border-bottom: 1px solid #666;
		color: #122fa3;
		font-size: 14pt;
		outline: none;
		transition: border-color .2s;
	}

	.mailMe textarea {
		height: 80px;
		font-size: 14pt;
		line-height: 100%;
		resize:vertical;
	}
	.formInput:focus { border-bottom:1px solid #122fa3; }

	.sendButton {
		appearance: button;
		background-color: #effffe;
		background-image: none;
		border: 1px solid #000;
		border-radius: 4px;
		box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
		box-sizing: border-box;
		color: midnightblue;
		cursor: pointer;
		width: 100%;
		display: inline-block;
		font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
		font-size: 14pt;
		font-weight: 600;
		line-height: 20px;
		margin: 12px 0px 10px 0px;
		overflow: visible;
		padding: 12px 0px;
		text-align: center;
		text-transform: none;
		touch-action: manipulation;
		user-select: none;
		-webkit-user-select: none;
		vertical-align: middle;
		white-space: nowrap;
	}

	.sendButton:focus {
		text-decoration: none;
	}

	.sendButton:hover {
		text-decoration: none;
	}

	.sendButton:active {
		box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
		outline: 0;
	}

	.sendButton:not([disabled]):active {
		box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
		transform: translate(2px, 2px);
	}
	
	/* Skill Component */
	.skill{
		/* background-color: red; */
		padding: 6px 0px 6px 8px;
	}
	
	.skillInfo{
		background-color: #effffe;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 13pt;
		font-weight: 600;
	}
}
	/* @media (min-width: 768px) {
		.sendButton {
		padding: 12px 50px;
	}
} */