/* For Desktop */
@media only screen and (min-width:720px){
	.project{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: auto;
		background-color: #A4BE5C;
	}
	
	.project h1{
		/* color:darkblue; */
		font-size: 32px;
	}
	
	.project img{
		width: 30%;
		border-radius: 10px;
	}
	
	.project p{
		font-size: 28px;
		font-weight: 500;
		/* color: darkblue; */
	}	
}

/* For Mobile device */
@media only screen and (max-width: 680px){
	.project{
		display: flex;
		width: 100%;
		/* height: calc(100vh-100px); */
		/* height: 100vh; */
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #f3ebfa;
	}
	
	.project h1{
		/* color:midnightblue; */
		color: #17669f;
		font-size: 34pt;
		margin-top: 50px;
	}

	.project p{
		margin: 0px 6px 12px 6px;
		font-size: 16pt;
	}
	
	/* .project img{
		width: 80%;
		border-radius: 10px;
		margin: 10px 0px 10px 0px;
	} */

	.textContainer{
		width: 95%;
		background-color: white;
	}
	
	
	.textContainer p{
		color: #3D155F;
		text-align:left;
		font-size: 14pt;
		font-weight: 400;
		padding: 2px 4px 0px 4px;
	}

	.carouselContainer {
		width: 95%;
		margin-top: 0.5rem;
	}

	.projectFooter{
		display: flex;
		width: 95%;
		justify-content: space-between;
		margin: 0.5rem 0rem 0.5rem 0rem;
		/* background-color: red; */
	}

	.projectFooter a{
		margin-top: 9px;
		color: black;
	}

	.nextBtn{
		align-items: center;
		background: #FFFFFF;
		border: 0 solid #E2E8F0;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
		box-sizing: border-box;
		color: #000;
		display: inline-flex;
		font-family: Inter, sans-serif;
		font-size: 1rem;
		font-weight: 700;
		height: 32px;
		justify-content: center;
		line-height: 24px;
		overflow-wrap: break-word;
		padding: 24px;
		text-decoration: none;
		width: auto;
		border-radius: 4px;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
	}

	.nextBtn :disabled, button[disabled]{
		background-color: rgb(202, 202, 202);
	}

	.prevBtn{
		align-items: center;
		background: #FFFFFF;
		border: 0 solid #E2E8F0;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
		box-sizing: border-box;
		color: #1A202C;
		display: inline-flex;
		font-family: Inter, sans-serif;
		font-size: 1rem;
		font-weight: 700;
		height: 32px;
		justify-content: center;
		line-height: 24px;
		overflow-wrap: break-word;
		padding: 24px;
		text-decoration: none;
		width: auto;
		border-radius: 4px;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
	}

	.prevBtn :disabled, button[disabled]{
		background-color: rgb(202, 202, 202);
	}
	
}