/* For Desktop */
@media only screen and (min-width:720px){
	.project{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: auto;
		background-color: #A4BE5C;
	}
	
	.project h1{
		/* color:darkblue; */
		font-size: 32px;
	}
	
	.project img{
		width: 30%;
		border-radius: 10px;
	}
	
	.project p{
		font-size: 28px;
		font-weight: 500;
		/* color: darkblue; */
	}	
}

/* For Mobile device */
@media only screen and (max-width: 680px){
	.project{
		display: flex;
		width: 100%;
		height: calc(100vh-100px);
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #F9F9F9;
	}
	
	.project h1{
		/* color:midnightblue; */
		color: #17669f;
		font-size: 34pt;
		margin-top: 50px;
	}

	.projectContainer{
		width: 95%;
		background-color: white;
	}
	
	.project img{
		width: 75%;
		border-radius: 10px;
	}
	
	.projectContainer p{
		color: #3D155F;
		text-align:left;
		font-size: 20px;
		font-weight: 400;
	}
}