/* For Desktop */
@media only screen and (min-width: 720px) {
	.navbar{
		display:flex;
		justify-content: center;
		background-color: #213555;
		height: 100px;
		width: 100%;
	}
	
	.navbarItems{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 40%;
		font-size: 20px;
		font-weight: 700;	
		/* background-color:burlywood; */
	}
	
	.navbar a{
		color: #EEE2DE;
		text-decoration:none;
	}	
}

/* For Mobile Device */
@media only screen and (max-width: 680px) {
	.navbar{
		display:flex;
		align-items: center;
		justify-content: center;
		background-color: #213555;
		height: 100px;
		width: 100%;
	}
	
	.navbarItems{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		font-size: 20px;
		font-weight: 600;	
	}
	
	.navbar a{
		color:#EEE2DE;
		text-decoration:none;
	}
}