.navbar{
	display:flex;
	/* align-items: center; */
	justify-content: center;
	background-color: purple;
	height: 100px;
	width: 100%;
}

.navbarItems{
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 40%;
	font-size: 20px;
	font-weight: 600;	
	/* background-color:burlywood; */
}

.navbar a{
	color: white;
	text-decoration:none;
}