/* For Desktop */
@media only screen and (min-width: 680px) {
	/* Skill Component */
	.skill {
		min-height: 100vh;
		background: #333;
		display: flex;
		flex-direction: column;
		color: #000;
		justify-content: center;
		align-items: center;
		font-family: sans-serif;
		scroll-behavior: smooth;
		background-color: #4831d4;
	}

	.skill_head {
		padding: 5rem 0rem 2rem 0rem;
		text-align: center;
		text-transform: uppercase;
		color: #ccf381;
	}

	.skill_container {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
	}

	.skill_card {
		position: relative;
		border-radius: 10px;
		width: 100%;
		height: fit-content;
		margin-left: 2rem;
	}

	.skill_container .skill_card .skill_icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: 0.7s;
		z-index: 1;
	}

	.skill_container .skill_card:nth-child(1) .skill_icon {
		background: #014069;
	}

	.skill_container .skill_card:nth-child(2) .skill_icon {
		background: #692a01;
	}

	.skill_container .skill_card:nth-child(3) .skill_icon {
		background: #151e43;
	}

	.skill_container .skill_card .skill_icon .fa {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.skill_icon img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 160px;
		height: 130px;
		transform: translate(-50%, -50%);
		font-size: 80px;
		transition: 0.7s;
		color: #fff;
	}

	.skill_container .skill_card .face {
		width: 90%;
		height: 9rem;
		transition: 0.5s;
	}

	.skill_container .skill_card .face.face1 {
		position: relative;
		background: #333;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		transform: translateY(100px);
	}

	.skill_container .skill_card:hover .face.face1 {
		transform: translateY(0px);
	}

	.skill_container .skill_card .face.face1 .skill_content {
		opacity: 1;
		transition: 0.5s;
	}

	.skill_container .skill_card:hover .face.face1 .skill_content {
		opacity: 1;
	}

	.skill_container .skill_card:hover .face.face1 .skill_content img {
		width: 180px;
		height: 130px;
	}

	.skill_container .skill_card .face.face2 .frontend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b1e0ff;
	}

	.skill_container .skill_card:hover .face.face2 .frontend {
		transform: translateY(0);
		background-color: #b1e0ff;
	}

	.skill_container .skill_card .face.face2 .backend {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #ffe1ce;
	}

	.skill_container .skill_card:hover .face.face2 .backend {
		transform: translateY(0);
		background-color: #ffe1ce;
	}

	.skill_container .skill_card .face.face2 .language {
		position: relative;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
		transform: translateY(-100px);
		background-color: #b7c6ff;
	}

	.skill_container .skill_card:hover .face.face2 .language {
		transform: translateY(0);
		background-color: #b7c6ff;
	}

	.skill_container .skill_card .face.face2 .skill_content p {
		margin: 0;
		padding: 0;
		text-align: center;
		color: #414141;
		font-size: 10pt;
	}

	.skill_container .skill_card .face.face2 .skill_content h3 {
		margin: 0 0 10px 0;
		padding: 0;
		color: #414141;
		font-size: 24px;
		text-align: center;
	}

	.skill_container a {
		text-decoration: none;
		color: #414141;
	}

	.skill_content a {
		padding: 2px 4px;
	}
}
