/* .skill_section {
	padding: 2rem 1rem;
	text-align: center;
}

.skill_head {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.skill_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}


.skill_card {
	position: relative;
	width: 100%;
	max-width: 320px;
	perspective: 1000px;
}

.skill_icon {
	position: absolute;
	top: -1.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	width: 4rem;
	height: 4rem;
}

.face_1,
.face_2 {
	background-color: #1e293b;
	border-radius: 1rem;
	padding: 4rem 1rem 1rem 1rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	transition: transform 0.6s;
	backface-visibility: hidden;
}

.face_1 {
	position: relative;
	z-index: 1;
}

.face_2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	z-index: 0;
}

.skill_card:hover .face_1 {
	transform: rotateY(180deg);
}

.skill_card:hover .face_2 {
	transform: rotateY(0deg);
	z-index: 2;
}


@media only screen and (min-width: 680px) {
	.skill_container {
		flex-direction: row;
		justify-content: center;
	}
} */
