/* For Desktop */
@media only screen and (min-width: 681px) {
  .Footer {
    width: 100%;
    height: 160px;
    background-image: url("https://images.unsplash.com/photo-1688516353461-540cd4b178fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8M3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .FooterItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    text-align: center;
  }

  .FooterItems h2 {
    font-family: "JetBrains Mono", monospace;
    font-size: 24pt;
    font-weight: 300;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }

  .FooterItems a {
    color: white;
    text-decoration: none;
  }

  .FooterSvg {
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
    justify-content: space-evenly;
  }

  .Vl {
    border-left: 1.5px solid white;
    height: 120px;
  }

  .FooterItems svg {
    color: white;
    font-size: 28pt;
  }
}

/* For Mobile device */
@media only screen and (max-width: 681px) {
  .Footer {
    width: 100%;
    height: 150px;
    background-image: url("https://images.unsplash.com/photo-1688516353461-540cd4b178fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8M3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .FooterItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  .FooterItems h2 {
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.5rem;
    font-family: "JetBrains Mono", monospace;
  }

  .FooterItems a {
    color: white;
    text-decoration: none;
  }

  .FooterSvg {
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: space-around;
  }

  .Vl {
    border-left: 1.5px solid white;
    height: 100px;
  }

  .FooterItems svg {
    color: white;
    font-size: 22px;
  }
}
