.skill_icon img {
	width: 80px;
	height: 80px;
	object-fit: contain;
}

.skill_content {
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	img {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.skill_content h3,
.skill_list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1; /* above the orb */
}
