/* For Desktop */
@media only screen and (min-width: 680px) {
	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		background: #fff;
		overflow: hidden;
	}

	/* Info Component */
	.info_container {
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 22pt;
	}

	.info_text {
		width: 100%;
		height: 100%;
		color: #f4f4f4;
		font-size: 22pt;
		padding: 2rem 2rem 1rem 3rem;
	}

	.info_text h1 {
		font-size: 44pt;
		color: #00ffc3;
		font-weight: 700;
	}

	.info_text h2 {
		font-size: 26pt;
		color: #9e9e9e;
		font-weight: 500;
	}
}
