.App {
	text-align: center;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	/* display: flex;
  align-items: center;
  justify-content: center; */
}
